# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# PostgreSQL
*.dump
*.backup

# Pentaho
*.log

# Operating system
.DS_Store
Thumbs.db

# IDE
.vscode/

# Temporary files
*.tmp
*.temp

# Sensitive configuration
.env